# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
auth.json
jd_yp_taobao-scraper\auth.json
jd-setup-auth.js
auth.json
pdd_auth_state.json
/auth-profile/
/download_playwright/PDD/pdd-auth-profile/
/pdd-auth-profile/
structure.txt
edge_user_data/
/sql_data
*.db
.env
pdd_user_data
pdd_user_data/
pdd_user_data_profile
download_playwright/PDD/pdd-auth-profile-newstore
download_playwright/PDD/pdd-auth-profile-newstore/Default/
