# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
auth.json
jd_yp_taobao-scraper\auth.json
jd-setup-auth.js
auth.json
pdd_auth_state.json
/auth-profile/
/download_playwright/PDD/pdd-auth-profile/
/pdd-auth-profile/
structure.txt
download_playwright/exc_data/
download_playwright/sql_data/
edge_user_data/
